body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}

#MainTitle,
#FormHeader {
  text-align: center;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: auto;
}

p,
h2,
h3 {
  margin-left: 15px;
}

p {
  margin-right: 15px;
  display: block;
}

.flex-item h2 {
  color: white;
  margin-left: 0;
  padding-left: 15px;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #2196f3;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

article > iframe {
  width: 100%;
  height: 350px;
}

article > img {
  margin-top: -20px;
  width: 100%;
}

.flex-item {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #e1e1e1;
  width: 450px;
  border-radius: 0.25em;
  padding-bottom: 15px;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

table {
  padding-top: 15px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}

thead {
  color: white;
  background: #4caf50;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: lightgreen;
}

.form-group {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.btn-primary {
  background-color: #4caf50;
  width: 100px;
  padding: 12px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  border: 1px solid #4caf50;
  box-sizing: border-box;
  border-radius: 0.25em;
}

.btn-primary:hover {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  margin-top: 15px;
  margin-left: 75px;
}

input {
  display: inline-block;
  float: left;
  padding: 12px 20px;
  margin-left: 15px;
  margin-bottom: =15px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 0.25em;
  font-weight: bold;
}

@media (max-width: 900px) {
  label {
    margin-left: 150px !important;
  }
}
